body {
    background-color: #e9e6e6;
}

hr {
    width: 5%;
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(165, 161, 156);
    border-width: 7px;
    opacity: 0.78;
}

h1 {
    color: #5e5e5e;
    font-family: Shink;
}

h3 {
    color: #66bfbf;
}